.Rproj.user
.Rhistory
.RData
manuscript/SM/cache
manuscript/SM/figure
data/MCD09/*
data/MCD09_deriv/*
*.tif
*#*

## tex files
*.bbl
*.blg
*.html
*.toc
*.tex
*.log
*.synctex.gz
*.aux

*old*
*unnamed-chunk*

## octave stuff
core
octave-workspace
