.Rproj.user
.Rhistory
.RData
manuscript/SupplementaryMaterials/cache
manuscript/SupplementaryMaterials/figure
data/MCD09
data/MCD09_deriv  


## tex files
*.bbl
*.html
*.toc
*.tex
*.log
*.synctex.gz

## octave stuff
core
octave-workspace
